html {
  height: 100%;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 991px) {
    height: auto;
  }
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  background-color: #000;
  @media screen and (max-width: 991px) {
    height: auto;
  }
}

main {
  // background: url("../img/bg.jpg") no-repeat center top;
  // background-size: cover;
  min-height: 700px;
  background-color: #000;
  position: absolute;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 34px 0 0;
    background: url("../img/bg-mobile.jpg") no-repeat center top;
    background-size: cover;
    height: 100%;
    position: relative;
  }

  header {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 63px 0 0;

    @media screen and (max-width: 991px) {
      padding: 30px 0 0;
    }

    img {
      @media screen and (max-width: 991px) {
        max-width: 104px;
      }
    }
  }

  section {
    margin: 0;
    padding: 0;

    .content {
      max-width: 1140px;
      margin: 0 auto;
      width: 100%;
    }

    h1 {
      font-family: "Volvo Broad Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 80.1316px;
      line-height: 75px;
      letter-spacing: 0.08em;
      color: #ffffff;
      text-transform: uppercase;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 991px) {
        font-size: 45px;
        line-height: 48px;
        margin: 36px 0 0;
        text-align: center;
      }
    }

    h2 {
      font-family: "Volvo Novum";
      font-style: normal;
      font-weight: 400;
      font-size: 40.442px;
      line-height: 76px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 991px) {
        font-size: 22px;
        line-height: 24px;
        margin: 12px 0;
        text-align: center;
      }
    }

    h3 {
      font-family: "Volvo Novum";
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      color: #ffffff;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 991px) {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        max-width: 280px;
        margin: 0 auto;
      }
    }

    .col-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media screen and (max-width: 991px) {
        display: block;
      }
    }

    &#home {
      display: none;
      align-items: center;
      height: 100%;
      min-height: 750px;

      @media screen and (max-width: 991px) {
        display: block;
        min-height: auto;
      }

      .content {
        box-sizing: border-box;
        margin-top: 125px;

        @media screen and (max-width: 991px) {
          padding: 0 24px;
          margin-top: 50px;
        }
      }

      .col-2 {
        & > div {
          min-height: 550px;

          @media screen and (max-width: 991px) {
            min-height: auto;
          }

          &:nth-child(2n + 1) {
            @media screen and (max-width: 991px) {
              min-height: 580px;
            }
          }

          &:nth-child(2n + 2) {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            @media screen and (max-width: 991px) {
              display: block;
              text-align: center;
            }
          }
        }
      }

      .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: solid 1px #ebebeb;
        color: #fff;
        padding: 20px 0;
        margin: 48px 0 0;

        @media screen and (max-width: 991px) {
          display: flex;
          padding: 20px 0 36px;
          flex-direction: column;
        }

        ul {
          display: block;
          margin: 0;
          padding: 0;

          li {
            margin: 0 24px 0 0;
            padding: 0;
            display: inline-block;
            list-style: none;

            a {
              opacity: 1;
              transition: all ease-in-out 0.25s;
              &:hover {
                opacity: 0.5;
                transition: all ease-in-out 0.25s;
              }
            }
          }
        }

        & > div {
          &:nth-child(3n + 1) {
            font-family: "Volvo Novum";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;

            @media screen and (max-width: 991px) {
              order: 3;
            }
          }

          &:nth-child(3n + 2) {
            font-family: "Volvo Novum";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #999999;
            text-align: center;

            @media screen and (max-width: 991px) {
              margin: 16px 0;
              order: 2;
            }
          }

          &:nth-child(3n + 3) {
            text-align: right;
            a {
              font-family: "Volvo Novum";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              text-decoration-line: underline;
              color: #ffffff;
              opacity: 1;
              transition: all ease-in-out 0.25s;

              &:hover {
                opacity: 0.5;
                transition: all ease-in-out 0.25s;
              }
            }

            @media screen and (max-width: 991px) {
              order: 1;
            }
          }

          @media screen and (max-width: 991px) {
            text-align: center !important;
          }
        }
      }
    }

    &#fixed {
      width: 100%;
      height: 100%;
      min-height: 700px;

      @media screen and (max-width: 991px) {
        display: none;
      }
      .bg {
        width: 100%;
        height: auto;
      }

      .title {
        position: absolute;
        width: 33.81%;
        left: 11.11%;
        top: 26%;
        z-index: 5;

        img {
          width: 100%;
          height: auto;
        }
      }

      .cta {
        position: absolute;
        left: 67.5%;
        top: 77.87%;
        z-index: 5;

        img {
          width: 100%;
          height: auto;
        }
      }

      .bottom {
        position: absolute;
        left: 11.11%;
        top: 81.8%;
        width: 77.77%;
        z-index: 5;

        img {
          width: 100%;
          height: auto;
        }

        .footer {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          border-top: solid 1px #ebebeb;
          color: #fff;
          padding: 20px 0;
          margin: 48px 0 0;

          @media screen and (max-width: 991px) {
            display: flex;
            padding: 20px 0 36px;
            flex-direction: column;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;

            li {
              margin: 0 24px 0 0;
              padding: 0;
              display: inline-block;
              list-style: none;

              a {
                opacity: 1;
                transition: all ease-in-out 0.25s;
                &:hover {
                  opacity: 0.5;
                  transition: all ease-in-out 0.25s;
                }
              }
            }
          }

          & > div {
            &:nth-child(3n + 1) {
              font-family: "Volvo Novum";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #ffffff;

              @media screen and (max-width: 991px) {
                order: 3;
              }
            }

            &:nth-child(3n + 2) {
              font-family: "Volvo Novum";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #999999;
              text-align: center;

              @media screen and (max-width: 991px) {
                margin: 16px 0;
                order: 2;
              }
            }

            &:nth-child(3n + 3) {
              text-align: right;
              a {
                font-family: "Volvo Novum";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #ffffff;
                opacity: 1;
                transition: all ease-in-out 0.25s;

                &:hover {
                  opacity: 0.5;
                  transition: all ease-in-out 0.25s;
                }
              }

              @media screen and (max-width: 991px) {
                order: 1;
              }
            }

            @media screen and (max-width: 991px) {
              text-align: center !important;
            }
          }
        }
      }
    }
  }

  a {
    &.btn {
      font-family: "Volvo Novum";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #000000;
      display: block;
      line-height: 40px;
      height: 40px;
      padding: 0 24px 0 16px;
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(13, 28, 41, 0.2);
      text-decoration: none;
      display: inline-block;
      position: relative;
      transition: all ease-in-out 0.25s;

      &::after {
        content: "";
        display: block;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNiA2LjY3NzQyTDEgMTIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
        width: 5px;
        height: 11px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        background-position: center center;
        transition: all ease-in-out 0.25s;
      }

      &:hover {
        background-color: #2051b5;
        color: #fff;
        transition: all ease-in-out 0.25s;

        &::after {
          right: 12px;
          transition: all ease-in-out 0.25s;
        }
      }
    }

    &.btn-secondary {
      border: solid 1px #000;

      &:hover {
        background-color: #2051b5;
        color: #fff;
      }
    }
    &.btn-third {
      border: solid 1px #000;
      padding: 0 16px 0 28px;

      &::before {
        content: "";
        display: block;
        left: 16px;
        top: 50%;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNiA2LjY3NzQyTDEgMTIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
        width: 5px;
        height: 11px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        background-position: center center;
        transition: all ease-in-out 0.25s;
        transform: translateY(-50%) rotate(180deg);
      }

      &:hover {
        background-color: #2051b5;
        transition: all ease-in-out 0.25s;
        color: #fff;

        &::before {
          left: 12px;
          transition: all ease-in-out 0.25s;
        }
      }

      &::after {
        display: none;
      }
    }
  }
}
.modal {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  display: none;
  align-items: center;

  @media screen and (max-width: 991px) {
    min-height: 100%;
  }

  .bg {
    width: 100%;
    background-color: rgba(17, 22, 36, 0.8);
    opacity: 0.5;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 823px;
    width: calc(100% - 32px);
    margin: 32px auto;
    background-color: #fff;
    left: 16px;

    @media screen and (max-width: 991px) {
      padding: 0;
      margin: 58px 0 48px;
    }
  }

  .texto {
    padding: 0 16px;
    font-family: "Volvo Novum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000;
  }

  .head {
    padding: 24px 0;
    background: #e1dfdd;
    width: 100%;
    margin-bottom: 24px;

    @media screen and (max-width: 991px) {
      padding: 16px 0 0;
    }
  }

  h1 {
    font-family: "Volvo Broad Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;

    @media screen and (max-width: 991px) {
      margin: 16px 0 0;
      padding: 0;
    }
  }

  h2 {
    font-family: "Volvo Novum";
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    max-width: 450px;

    @media screen and (max-width: 991px) {
      font-weight: 400;
      font-size: 18px;
      max-width: 300px;
      margin: 0 auto;
      line-height: 20px;
      padding-bottom: 16px;
    }
  }

  .circles {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    @media screen and (max-width: 991px) {
      max-width: 300px;
    }

    .col-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 350px;
      margin: 0 auto;

      @media screen and (max-width: 991px) {
        display: none;
      }

      & > div {
        display: block;
        justify-content: center;
        font-family: "Volvo Novum";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #53565a;

        @media screen and (max-width: 991px) {
          display: inline-block;
        }

        .img {
          text-align: center;
        }

        .text {
          max-width: 150px;
          text-align: center;
          margin: 0 auto;
          padding-top: 8px;
        }
      }
    }

    .col-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 16px;

      @media screen and (max-width: 991px) {
        display: none;
      }

      & > div {
        display: block;
        justify-content: center;
        font-family: "Volvo Novum";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #53565a;

        @media screen and (max-width: 991px) {
          display: inline-block;
        }

        .img {
          text-align: center;
        }

        .text {
          max-width: 150px;
          text-align: center;
          margin: 0 auto;
          padding-top: 8px;
        }
      }
    }

    .mobile {
      display: none;

      @media screen and (max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 350px;
        margin: 0 auto;
        grid-gap: 16px;
      }

      & > div {
        display: block;
        justify-content: center;
        font-family: "Volvo Novum";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #53565a;

        @media screen and (max-width: 991px) {
          display: inline-block;
        }

        .img {
          text-align: center;
        }

        .text {
          max-width: 150px;
          text-align: center;
          margin: 0 auto;
          padding-top: 8px;
        }
      }

      &.col-1 {
        display: none;
        @media screen and (max-width: 991px) {
          display: grid;
          grid-template-columns: 1fr;
          max-width: 350px;
          margin: 0 auto;
        }
      }
    }
  }

  .note {
    height: 36px;
    line-height: 36px;
    background-color: #e1dfdd;
    border-radius: 18px;
    width: 100%;
    max-width: 666px;
    margin: 24px auto;
    padding: 0 24px;
    font-family: "Volvo Novum";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #192130;
    text-align: center;

    @media screen and (max-width: 991px) {
      font-size: 15px;
      line-height: 18px;
      max-width: 280px;
      padding: 16px 0;
      height: auto;
    }
  }

  .results {
    text-align: center;
    width: 100%;
    font-family: "Volvo Novum";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    @media screen and (max-width: 991px) {
      font-size: 15px;
      line-height: 18px;
      max-width: 280px;
      padding: 0;
      height: auto;
      margin: 0 auto;
    }
  }

  .buttons {
    text-align: center;
    margin: 24px 0 0;
  }

  .close {
    display: block;
    position: absolute;
    right: -48px;
    top: 0;

    @media screen and (max-width: 991px) {
      top: -48px;
      right: 0;
      width: 32px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &.fadeIn {
    opacity: 1;
    display: block !important;
    transition: all ease-in-out 0.35s;
  }

  .step1 {
    padding: 0 0 45px;
  }

  .step2 {
    display: none;
    background-color: #e1dfdd;
    padding: 0 44px 44px;

    @media screen and (max-width: 991px) {
      padding: 0 16px 16px;
    }
  }
}
.table {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & > div {
      &:nth-child(3n + 1) {
        @media screen and (max-width: 991px) {
          text-align: left;
          padding: 16px;
        }
      }
    }

    div {
      font-family: "Volvo Novum";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #e1dfdd;
      background-color: #202a44;
      line-height: 40px;
      text-align: center;

      @media screen and (max-width: 991px) {
        font-size: 13px;
        line-height: 13px;
        padding: 16px 0;
      }
    }
  }
  &__body {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      line-height: 64px;
      height: 64px;
      align-items: center;
      background-color: #fff;

      @media screen and (max-width: 991px) {
        height: auto;
        grid-template-columns: 3fr 3fr 2fr;
      }

      & > div {
        font-family: "Volvo Novum";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #202a44;
        padding: 0 16px;
        border-left: 1px solid #e1dfdd;
        border-bottom: 1px solid #e1dfdd;
        height: 64px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 991px) {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          padding: 8px;
        }
        &:nth-child(3n + 1) {
          text-align: left;
          justify-content: flex-start;
        }

        &:nth-child(3n + 2) {
          text-align: center;
          justify-content: center;
        }

        &:nth-child(3n + 3) {
          text-align: center;
          font-weight: 700;
          justify-content: center;
          border-right: 1px solid #e1dfdd;
        }
      }
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
