@font-face {
    font-family: 'Volvo Broad Pro';
    src: url('VolvoBroadProDigital.eot');
    src: url('VolvoBroadProDigital.eot?#iefix') format('embedded-opentype'),
        url('VolvoBroadProDigital.woff2') format('woff2'),
        url('VolvoBroadProDigital.woff') format('woff'),
        url('VolvoBroadProDigital.ttf') format('truetype'),
        url('VolvoBroadProDigital.svg#VolvoBroadProDigital') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volvo Novum';
    src: url('VolvoNovumWebLatin-Bold.eot');
    src: url('VolvoNovumWebLatin-Bold.eot?#iefix') format('embedded-opentype'),
        url('VolvoNovumWebLatin-Bold.woff2') format('woff2'),
        url('VolvoNovumWebLatin-Bold.woff') format('woff'),
        url('VolvoNovumWebLatin-Bold.ttf') format('truetype'),
        url('VolvoNovumWebLatin-Bold.svg#VolvoNovumWebLatin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volvo Broad Pro';
    src: url('VolvoBroadPro.eot');
    src: url('VolvoBroadPro.eot?#iefix') format('embedded-opentype'),
        url('VolvoBroadPro.woff2') format('woff2'),
        url('VolvoBroadPro.woff') format('woff'),
        url('VolvoBroadPro.ttf') format('truetype'),
        url('VolvoBroadPro.svg#VolvoBroadPro') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volvo Novum Web';
    src: url('VolvoNovumWebLatin-Regular.eot');
    src: url('VolvoNovumWebLatin-Regular.eot?#iefix') format('embedded-opentype'),
        url('VolvoNovumWebLatin-Regular.woff2') format('woff2'),
        url('VolvoNovumWebLatin-Regular.woff') format('woff'),
        url('VolvoNovumWebLatin-Regular.ttf') format('truetype'),
        url('VolvoNovumWebLatin-Regular.svg#VolvoNovumWebLatin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volvo Novum';
    src: url('VolvoNovumWebLatin-Light.eot');
    src: url('VolvoNovumWebLatin-Light.eot?#iefix') format('embedded-opentype'),
        url('VolvoNovumWebLatin-Light.woff2') format('woff2'),
        url('VolvoNovumWebLatin-Light.woff') format('woff'),
        url('VolvoNovumWebLatin-Light.ttf') format('truetype'),
        url('VolvoNovumWebLatin-Light.svg#VolvoNovumWebLatin-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volvo Novum';
    src: url('VolvoNovumWebLatin-Medium.eot');
    src: url('VolvoNovumWebLatin-Medium.eot?#iefix') format('embedded-opentype'),
        url('VolvoNovumWebLatin-Medium.woff2') format('woff2'),
        url('VolvoNovumWebLatin-Medium.woff') format('woff'),
        url('VolvoNovumWebLatin-Medium.ttf') format('truetype'),
        url('VolvoNovumWebLatin-Medium.svg#VolvoNovumWebLatin-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

